/.vscode/
/.cache/
/cmake-build-*/
/build-*/
/.idea/
/output/
/build/
/script/git_last_commit.txt
/.clangd
package/*
compile_commands.json

*.so
*.whl
*.egg-info
*.py[cod]
__pycache__/
.pytest_cache/
.DS_Store
.clion.source.upload.marker
