[submodule "test/3rdparty/googletest"]
	path = test/3rdparty/googletest
	url = https://github.com/google/googletest.git
[submodule "test/3rdparty/mockcpp"]
	path = test/3rdparty/mockcpp
	url = https://github.com/sinojelly/mockcpp.git
